{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid fthai ">
<div class="row  g-4 b  ">
     <div class="col">
         <div class="card  mb-4">
          <h2 class="card-title ms-4"  style="color: #0081B4"><b>อาชีพใฝ่ฝันในอนาคต</b></h2>
             </div>
     </div>
</div>
<div class="card mb-3 text-center">
  <img src="{%  static 'images/dream.png' %}" class="card-img-top " style="height: auto; width: 500px;margin-left: auto;margin-right: auto;" alt="...">
  <div class="card-body">
    <h1 class="card-title">รับราชการ</h1>
    <h2 class="card-text">เพราะการรับราชการมีสวัสดีการต่างๆ มีบำเหน็จบำนาญ  เมื่อเกษียนจากราชการ   มีความมั่นคงทางการเงิน เป็นที่ยอมรับในสังคม ทายาทและคู่สมรสของเราจะได้รับเงินตกทอดเมื่อเราเสียชีวิตลง เป็นจำนวนเงินไม่น้อยทีเดียว  </h2>

  </div>
</div>
    </div>
{% endblock %}