{% extends "base.html" %}
{% block content %}
<h2 class="text-white align-items-center" ><i class="fa-solid fa-clipboard-list" style="color:black"></i> สิ่งที่สนใจ </h2>
<table class="table " style="background-color: #F2E5E5">
<tr>
<td width="10%">ชื่อ-สกุล :</td>
<td width="90%">นางสาวสุกัญญา ชินคำ</td>
</tr>
<tr>
<td>ชื่อเล่น :</td>
<td>อ้อน</td>
</tr>
    <tr>
<td>วันเดือนปีเกิด :</td> <td>13 กันยายน พ.ศ.2544</td>
</tr>
<tr>
<td>ที่อยู่ :</td>
<td>บ้านเลขที่ 24 บ้านเชียนพิณ  จังหวัด อุดรธานี 41000</td>
</tr>
<tr>
<td>เบอร์โทรศัพท์ : </td>
<td> 062 814 4456</td>
</tr>

</table>
<br><br><br>
{% endblock %}