{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid fthai ">
<div class="row  g-4 b  ">
     <div class="col">
         <div class="card  mb-4">
          <h2 class="card-title ms-4"  style="color: #0081B4"><b>สิ่งที่สนใจ</b></h2>
             </div>
     </div>
</div>
<div class="card mb-3 text-center">
  <table class="table table-responsive">
  <tbody>
    <tr>
      <th>การท่องเที่ยว :</th>
      <td><a href="https://travel.trueid.net/detail/Zx6Jab80W3E" target="_blank"><img src="{%  static 'images/in.jpg' %}" class="img  " style="height: auto ; width: 500px " ></a> </td>
    </tr>
    <tr>
      <th>ฟังเพลง :</th>
      <td><iframe width="560" height="315" src="https://www.youtube.com/embed/Vnt5R20J9sw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
    </tr>
    <tr>
      <th>อาหาร : </th>
        <td><a href="https://www.wongnai.com/listings/steak-restaurants-khonkaen" target="_blank">สเต๊ก</a> </td>
    </tr>
  </tbody>
</table>
</div>
    </div>
{% endblock %}