<ul class="list-group">
<li class="list-group-item ">
    <i class="fa fa-list"></i>  เมนู
</li>
<li class="list-group-item">
<a href="{% url 'home' %}">
<i class="fa fa-home"></i> Home
</a>
</li>
<li class="list-group-item">
<a href="{% url 'history' %}">
<i class="fa-solid fa-user"></i>ประวัติส่วนตัว
</a>
</li>
    <li class="list-group-item">
<a href="{% url 'study' %}">
<i class="fa-solid fa-user-graduate"></i>ประวัติการศึกษา
</a>
</li>
      <li class="list-group-item">
<a href="{% url 'interests' %}">
<i class="fa-solid fa-clipboard-list"></i>สิ่งที่สนใจ
</a>
</li>
<li class="list-group-item">
<a href="{% url 'career' %}">
<i class="fa-solid fa-user-doctor"></i>อาชีพที่ใฝ่ฝันในอนาคต
</a>
</li>
    <li class="list-group-item">
<a href="{% url 'rolemodel' %}">
<i class="fa-solid fa-universal-access"></i>บุคคลต้นแบบ
</a>
</li>
     <li class="list-group-item">
<a href="{% url 'showMyData' %}">
<i class="fa fa-list"></i>แสดงข้อมูล
</a>
</li>
    <li class="list-group-item">
<a href="{% url 'showProduct' %}">
<i class="fa fa-list"></i>Show Our Product
</a>
</li>
</ul>
