{% extends "base.html" %}
{% block content %}
<h2 class="text-white align-items-center" ><i class="fa-solid fa-user-graduate" style="color: black"></i> ประวัติการศึกษา </h2>
<table class="table " style="background-color: #F2E5E5">
<tr>
<th width="30%">ระดับ</th>
<th width="35%">สถานที่</th>
    <th width="35%">สาขา</th>
</tr>
<tr>
<td>  ประกาศนีย์บัตรวิชาชีพ (ปวช.)
</td>
<td>วิทยาลัยอาชีวศึกษาอุดรธานี</td>
    <td>คอมพิวเตอร์ธุรกิจ</td>
</tr>
    <tr>
<td>ประกาศนีย์บัตรวิชาชีพชั้นสูง (ปวส.)</td>
        <td>วิทยาลัยเทคนิคอุดรธานี</td>
        <td>นักพัฒนาซอร์ฟแวร์คอมพิวเตอร์</td>
</tr>
<tr>
<td>ปัจจุบันกำลังศึกษา ปริญญาตรี</td>
<td>มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น</td>
    <td>ระบบสารสนเทศ</td>
</tr>


</table>
<br><br><br>
{% endblock %}