{% extends "base.html" %}
{% block content %}
<h2 class="bg-primary text-white align-items-center">
Subject Information </h2>
<table class="table table-info">
<tr>
<td width="20%">Subject ID</td>
<td width="80%">01-406-081-301</td>
</tr>
<tr>
<td>Subject Name</td>
<td>Digital Business Application Programming</td>
</tr>
    <tr>
<td>Credit</td> <td>3</td>
</tr>
<tr>
<td>Pre-requiresit</td>
<td>01-406-013-101 Computer Programming 1</td>
</tr>
<tr>
<td>Course Description</td>
<td> Principal concept and program development that align with
recent trend of software industry selecting modern tools that
integrates with digital business solutions

</td>
</tr>
</table>
<br><br><br>
{% endblock %}